<div id="pdfViewer" style="width: 100%; overflow: auto;"></div>
<!--<style>-->
<!--    @media print {-->
<!--&lt;!&ndash;        @page {&ndash;&gt;-->
<!--&lt;!&ndash;            margin: 1px; /* Remove page margins */&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;        body {&ndash;&gt;-->
<!--&lt;!&ndash;            margin: 0;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;        canvas {&ndash;&gt;-->
<!--&lt;!&ndash;            display: block;&ndash;&gt;-->
<!--&lt;!&ndash;            page-break-after: always; /* Ensure proper page breaks */&ndash;&gt;-->
<!--&lt;!&ndash;            margin: 0; /* Remove internal margins */&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;        #pdfViewer {&ndash;&gt;-->
<!--&lt;!&ndash;            display: block;&ndash;&gt;-->
<!--&lt;!&ndash;            width: 100%;&ndash;&gt;-->
<!--&lt;!&ndash;            margin: 0 auto;&ndash;&gt;-->
<!--&lt;!&ndash;            padding: 0;&ndash;&gt;-->
<!--&lt;!&ndash;            overflow-y: hidden;&ndash;&gt;-->
<!--&lt;!&ndash;            overflow-x: hidden;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--    }-->
<!--</style>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
<script>
    const url = "{{ url }}"; // Path to the PDF file

    // PDF.js rendering setup
    pdfjsLib.getDocument(url).promise.then(function (pdfDoc_) {
        const pdfDoc = pdfDoc_;
        const viewer = document.getElementById('pdfViewer');
        const scale = 1.5; // Scale for better rendering

        // Function to render a single page
        function renderPage(pageNum) {
            return pdfDoc.getPage(pageNum).then(function (page) {
                const viewport = page.getViewport({ scale });
                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');
                console.log(viewport.height);
                canvas.height = 1000; // viewport.height;
                canvas.width = 800;//viewport.width;
                viewer.appendChild(canvas);

                return page.render({
                    canvasContext: context,
                    viewport: viewport,
                }).promise;
            });
        }

        // Render all pages
        async function renderAllPages() {
            console.log(pdfDoc.numPages)
            for (let pageNum = 1; pageNum <= pdfDoc.numPages; pageNum++) {
                await renderPage(pageNum); // Sequential rendering
            }
        }

        // Ensure rendering is complete before printing
        renderAllPages().then(() => {
            // Allow DOM updates to complete
            setTimeout(() => {
                window.print(); // Trigger print
            }, 500);
        });
    });
</script>
